@using BeatLab.Models.Entities;
@model BeatLab.Models.Entities.Order_Plugin

@{
    @Styles.Render("~/Content/StylePage/PaymentStyle.css")
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-header text-center">
        <h3>Оплата товара</h3>
    </div>

    <!-- Credit Card Payment Form - START -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">

                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">

                            <div class="inlineimage">
                                <img class="img-responsive images" src="~/Resource/card.png">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>НОМЕР КАРТЫ</label>
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Card_Number,
                                            new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                                    placeholder = "Введите номер карты",
                                                    type = "tel",
                                                    maxlength = 16
                                                }
                                            })
                                        <span class="input-group-addon">
                                            <span class="fa fa-credit-card"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label>
                                        <span class="hidden-xs">СРОК ГОДНОСТИ</span>
                                        <span class="visible-xs-inline">EXP</span> DATE
                                    </label>
                                    @Html.EditorFor(model => model.Card_expiration_date,
                                            new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                                    placeholder = "MM / YY",
                                                    type = "tel",
                                                    maxlength = 4
                                                }
                                            })
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label>ЗАЩИТНЫЙ КОД</label>
                                    @Html.EditorFor(model => model.Card_secure_code,
                                            new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                                    placeholder = "CVC",
                                                    type = "tel",
                                                    maxlength = 3
                                                }
                                            })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>ИМЯ ВЛАДЕЛЬЦА</label>
                                    @Html.EditorFor(model => model.Card_owner,
                                           new
                                           {
                                               htmlAttributes = new
                                               {
                                                   @class = "form-control",
                                                   placeholder = "Введите имя владельца",
                                                   type = "text",
                                                   maxlength = 30
                                               }
                                           })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.IsConsentContract,
                                           new
                                           {
                                               htmlAttributes = new
                                                    {

                                                       @class = "form-control",
                                                        type = "checkbox",
                                                        id = "blankCheckbox",
                                                    }
                                           })
                            <label>Согласны ли вы с условиями пользовательского соглашения?</label>
                        </label>
                        @Html.ValidationMessageFor(model => model.IsConsentContract, "", new { @class = "text-danger" })
                    </div>
                    <div class="panel-footer shadowfoother" style="background-color:white;">
                        <div class="row">

                            <div style="height: 50px;">
                                <div class="col-xs-12">
                                    <button class="btn btn-success btn-lg btn-block" style="background-color: #00b4ef; border-block-color: #00b4ef; ">Оплатить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
