@model BeatLab.Models.Entities.Order_Plugin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order_Plugin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Card_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_expiration_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_expiration_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_secure_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_secure_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plugins.Name_Plugin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plugins.Name_Plugin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Last_Name_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Last_Name_User)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Order_Plugin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
