@model BeatLab.Models.Entities.Order_Plugin

@{
    ViewBag.Title = "Редактирование заказа плагина";
}

<h2>Редактирование заказа плагина</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Order_Plugin)

    <div class="form-group">
        <label for="name-4c18" class="control-label col-md-2">Название плагина</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_Plugin", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_Plugin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="name-4c18" class="control-label col-md-2">Пользователь</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_User", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_User, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="name-4c18" class="control-label col-md-2">Номер карты</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Card_Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Card_Number, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label for="name-4c18" class="control-label col-md-2">Срок годности карты</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Card_expiration_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Card_expiration_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="name-4c18" class="control-label col-md-2">Защитный код карты</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Card_secure_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Card_secure_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="name-4c18" class="control-label col-md-2">Имя владельца на карте</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Card_owner, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Card_owner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    
