@model IEnumerable<BeatLab.Models.Entities.Order_Plugin>

@{
    ViewBag.Title = "Заказы плагина";
}

<h2>Заказы плагина</h2>

<p>
    @Html.ActionLink("Создать новый", "CreateAdmin")
</p>
<table class="table">
    <tr>
        <th>
            <label for="name-4c18" class="control-label col-md-2">Номер карты</label>
        </th>
        <th>
            <label for="name-4c18" class="control-label col-md-2">Срок годности карты</label>
        </th>
        <th>
            <label for="name-4c18" class="control-label col-md-2">Защитный код карты</label>
        </th>
        <th>
            <label for="name-4c18" class="control-label col-md-2">Имя владельца на карте</label>
        </th>
        <th>
            <label for="name-4c18" class="control-label col-md-2">Название плагина</label>
        </th>
        <th>
            <label for="name-4c18" class="control-label col-md-2">Покупатель</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Card_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_expiration_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_secure_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plugins.Name_Plugin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Last_Name_User)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Order_Plugin }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Order_Plugin })
        </td>
    </tr>
}

</table>
