@model IEnumerable<BeatLab.Order_Music>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Music.Name_music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Last_Name_User)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Music.Name_music)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Last_Name_User)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Order_Music }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Order_Music }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Order_Music })
        </td>
    </tr>
}

</table>
