@model BeatLab.Models.Entities.Alboms

@{
    ViewBag.Title = "Альбом";
}

<h2>Альбом</h2>

<div>


    <table class="table">
        <tr>
            <th>
                Название альбома
            </th>
            <th>
                Фото
            </th>
            <th>
                Тип альбома
                </th>
            <th>
                Никнейм создателя
            </th>
            <th>
                Музыка
            </th>
          
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name_Album)
            </td>
            
            <td>
                @{
                    if (Model.Image_Album == null)
                    {

                        <img style="width:150px; height:120px;" src="~/Resource/user.png" />
                    }
                    else
                    {
                        @Html.Raw("<img style='width:150px; height:120px;' src=\"data:image/jpeg;base64,"
                                   + Convert.ToBase64String(Model.Image_Album) + "\" />")
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Type_Alboms.Name_Type_Alboms)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.Nickname_User)
            </td>
            <td>
                @foreach (var item in Model.Music)
                {<table>
                <tr>
                    <th>
                  Название:  @Html.DisplayFor(modelItem => item.Name_music)
                    </th>
                    <th>
                       
                    </th>
                </tr>
                <tr>
                    <td>
                    <audio controls controlsList="nodownload" oncontextmenu="return false;" id="player">
                        <source src="@Url.Action("LoadAudio", "Musics", new { musicId = item.ID_Music})" type="audio/mp3" />
                    </audio>
                    </td>
                    <td>
                        @Html.ActionLink(@"Купить", "Create", "Order_Music", new { musicId = item.ID_Music },  new { @class = "btn btn-default" })
                    </td>
                </tr>
                </table>
                    <div>
                    </div>
                }
            </td>
            </tr>
    </table>
           
</div>

