@model IEnumerable<BeatLab.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middle_Name_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password_Hash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Type.Name_User_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Middle_Name_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age_User)
        </td>
        <td>
            @{
                if (item.Image_User == null)
                {
                    
                    <img style="width:80px; height:60px;" src="~/Resource/user.png" />
                }
                else
                {
                    @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                               + Convert.ToBase64String(item.Image_User) + "\" />")
                }
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password_Hash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Type.Name_User_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_User }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_User }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_User })
        </td>
    </tr>
}

</table>
