@model BeatLab.Models.Entities.Comment_Music

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment_Music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content_Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content_Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Name_music)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Name_music)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Last_Name_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Last_Name_User)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Comments_Music }) |
    @Html.ActionLink("Back to List", "Index")
</p>
