@{
    ViewBag.Title = "About";
}
<br />
<br />

<h3>Управление данными:</h3>
<ul>
    <li>@Html.ActionLink("Пользователи", "Index", "Users", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Тип музыкального товара", "Index", "Type_MusicAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Жанры музыкального товара", "Index", "Genere_Of_MusicAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Музыкальные товары", "Index", "MusicsAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Цены музыкально товара", "Index", "Price_MusicAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Формат плагина", "Index", "Format_PluginAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Плагины", "Index", "PluginsAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Цены плагина", "Index", "Price_PluginAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Заказы плагина", "Index", "Order_Plugin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Заказы музыки", "Index", "Order_Music", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Комментарии плагинов", "Index", "Comment_PluginAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Комментарии музыки", "Index", "Comment_MusicAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Сообщения в чатах", "Index", "ChatAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
</ul>








