@{
    ViewBag.Title = "About";
}
<br />
<br />

<h3>Управление данными:</h3>
<ul>
    <li>@Html.ActionLink("Пользователи", "Index", "Users", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Тип музыкального товара", "Index", "Type_MusicAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Жанры музыкального товара", "Index", "Genere_Of_MusicAdmin", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Музыкальные товары", "Index", "Tovars", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Цены музыкально товара", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Формат плагина", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Плагины", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Цены плагина", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Заказы плагина", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Заказы музыки", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Комментарии плагинов", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Комментарии музыки", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Сообщения в чатах", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
</ul>








