@model BeatLab.Models.Entities.Music

@{
    @Styles.Render("~/Content/StylePage/AccountEditStyle.css")
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm(Html.BeginForm("Edit", "Musics", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
@Html.AntiForgeryToken()

<h2 class="h2--margin">Изменить музыкальный файл</h2>
<section class="u-clearfix u-section-1" id="carousel_34a0">
    @Html.HiddenFor(model => model.ID_Music)
    @Html.HiddenFor(model => model.ID_User)
    @Html.HiddenFor(model => model.Music_file)
    @Html.HiddenFor(model => model.Image_music)

    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-lg u-expanded-width-sm u-shape u-shape-svg u-text-palette-1-light-1 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1073"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-1073"><path d="M43.2,126.9c14.2,1.3,27.6,7,39.1,15.6c8.3,6.1,19.4,10.3,32.7,5.3c11.7-4.4,18.6-17.4,21-30.2c2.6-13.3,8.1-25.9,15.7-37.1
	c8.3-12.1,10.8-27.9,5.3-42.7C150.5,20.3,134.6,9,117,7.6C107.9,6.9,98.8,5,90.1,1.9C83-0.6,75-0.7,67.4,2.1
	c-9.9,3.7-17,11.6-20.1,21c-3.3,10.1-10.9,18-20.6,22.2c-0.1,0-0.1,0.1-0.2,0.1c-20.3,8.9-31,32-24.6,53.2
	C6.9,115.6,25.2,125.2,43.2,126.9z"></path></svg>
        </div>
        <div class="u-align-left u-image u-image-circle u-preserve-proportions u-image-1" data-image-width="616" data-image-height="616"></div>
        <div class="u-palette-1-light-2 u-shape u-shape-circle u-shape-2"></div>
        <div class="u-form u-radius-31 u-white u-form-1 editCrard--padding editCard--shadow ">

            <form action="#" method="POST" class="u-clearfix u-form-spacing-33 u-form-vertical u-inner-form" source="email" name="form" style="padding: 35px;">

                <div class="u-form-group u-form-name">
                    <label for="name-4c18" class="u-label">Название</label>
                    @Html.EditorFor(model => model.Name_music, new { htmlAttributes = new { @class = "form-control u-border-2 u-border-palette-1-light-2 u-input u-input-rectangle u-palette-1-light-3 u-radius-10", placeholder = "Введите название", type = "text" } })
                    @Html.ValidationMessageFor(model => model.Name_music, "", new { @class = "text-danger" })

                </div>
                <div class="u-form-group">
                    <label for="message-4c18" class="u-label">Описание</label>
                    @Html.EditorFor(model => model.Description_Music, new { htmlAttributes = new { @class = "form-control u-border-2 u-border-palette-1-light-2 u-input u-input-rectangle u-palette-1-light-3 u-radius-10", placeholder = "Введите описание" } })
                    @Html.ValidationMessageFor(model => model.Description_Music, "", new { @class = "text-danger" })

                </div>
                <div class="u-form-group">
                    <label for="name-4c18" class="u-label">Цена</label>
                    @Html.EditorFor(model => model.PriceString, new { htmlAttributes = new { @class = "form-control u-border-2 u-border-palette-1-light-2 u-input u-input-rectangle u-palette-1-light-3 u-radius-10", placeholder = "Введите цену" } })
                    @Html.ValidationMessageFor(model => model.PriceString, "", new { @class = "text-danger" })

                </div>

                <div class="u-form-group u-form-group-4">
                    <label for="text-7110" class="u-label">Тип музыки</label>
                    @Html.DropDownList("ID_Type_mysic", null, htmlAttributes: new { @class = "form-control u-border-2 u-border-palette-1-light-2 u-input u-input-rectangle u-palette-1-light-3 u-radius-10" })
                    @Html.ValidationMessageFor(model => model.ID_Type_mysic, "", new { @class = "text-danger" })

                </div>
                <div class="u-form-group u-form-group-5">
                    <label for="text-ce90" class="u-label">Жанр</label>
                    @Html.DropDownList("ID_Genere_of_Music", null, htmlAttributes: new { @class = "form-control u-border-2 u-border-palette-1-light-2 u-input u-input-rectangle u-palette-1-light-3 u-radius-10" })
                    @Html.ValidationMessageFor(model => model.ID_Genere_of_Music, "", new { @class = "text-danger" })

                </div>



                <label for="text-1f9b" class="u-label">Фото</label>
                <div class="form-group editCard--margin">

                    <div class="col-md-10 editCard_DivImage--margin">


                        @{ if (Model.Image_music == null)
                                {
                            <img id='previewImage' style='width:130px; height:120px;' src="~/Resource/user.png" />
                                }
                                else
                                {
                            @Html.Raw("<img id='previewImage' style='width:130px; height:120px;' src=\"data:image/jpeg;base64,"
                                                    + Convert.ToBase64String(Model.Image_music) + "\" />")
                            @Html.ValidationMessageFor(model => model.Image_music, "", new { @class = "text-danger" })
                                }
                        }


                    </div>
                    <div class="editCard--margin">
                        <input id="imageInput" type="file" name="uploadImage" />
                    </div>
                </div>



                <label for="text-1f9b" class="u-label">Музыкальный файл</label>
                <div class="form-group editCard--margin">

                    <div class="col-md-10 editCard_DivImage--margin">
                        @Html.ValidationMessageFor(model => model.Music_file, "", new { @class = "text-danger" })
                    </div>

                    <div class="editCard--margin">
                        <input id="musicInput" type="file" name="uploadMusic" />
                    </div>
                </div>

                <div class="form-group u-align-center u-form-group u-form-submit">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn btn-primary editCard_button_size" />
                    </div>
                </div>






            </form>

        </div>
    </div>
</section>





}

<div>
    @Html.ActionLink("Вернуться к личному кабинету", "Users.Details", @class: "header-style-text")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/image-previewer.js")
}
