@model IEnumerable<BeatLab.Music>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description_Music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priсe_Music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alboms.Name_Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genere_Of_Music.Name_Gener_of_music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_Music.Name_Type_Music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Last_Name_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Music_file)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_music)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Music)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priсe_Music)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image_music)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alboms.Name_Album)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere_Of_Music.Name_Gener_of_music)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_Music.Name_Type_Music)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Last_Name_User)
            </td>
            <td>
                <audio controls controlsList="nodownload" oncontextmenu="return false;" id="player">

                    <source src="@Url.Action("LoadAudio", "Musics", new { musicId = item.ID_Music })" type="audio/mp3" />

                </audio>

            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Music }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_Music }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Music })
            </td>
        </tr>



    }

    </table>

    <section id="container-id" class="playerm">
        <div >
            <div  class="player__track-descr-box">
                <p>
                    лолоал
                </p>
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <audio id="audioId" controls controlsList="nodownload" oncontextmenu="return false;" id="player" style="width:700px !important;"
                           onended="document.getElementById('container-id').remove() " 
                          >
                        <source src="@Url.Action("LoadAudio", "Musics", new { musicId = item.ID_Music })" type="audio/mp3" />

                    </audio>
                }
                </div>
            <div>
                <p>
                    лолоал
                </p>
            </div>
           
        </div>
        
       

           

        
    </section>
    <script>
        document.getElementById("audioId").addEventListener('pause', setTimeout(() => { if (!audioId.paused) return; document.getElementById('container-id').remove(); }, 60 * 50))
    </script>