@using BeatLab.Models.Entities;
@model IEnumerable<BeatLab.Models.Entities.Music>

@{
    ViewBag.Title = "Биты|ADMIN";
}


<div class="breadcrumbs">
    <div class="breadcrumbs-level-1" style="color:white; font-size:24px;">
        Биты и семплы
    </div>

</div>

@using (@Html.BeginForm("Filter", "Musics", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display: flex; flex-wrap: wrap;  align-items: flex-end; ">

        <div class="bar">
            <div class="bar2">

                @Html.TextBox("Name", "", htmlAttributes: new { @class = "searchbar" })

                <a href="#"> <img class="voice" src="~/Resource/Magnifying_glass_icon.svg.png" title="Search by Voice"></a>
            </div>
        </div>

        <div style="display: flex;" class="div_filter ">
            <label class="labelstyle ">Жанр</label>
            @Html.DropDownList("ID_Genere_of_Music", null, htmlAttributes: new { @class = "cb" })

        </div>
        <div style="display: flex;" class="div_filter ">
            <label class="labelstyle">Исполнитель</label>
            @Html.DropDownList("ID_User", null, htmlAttributes: new { @class = "cb" })

        </div>
        <div style="display: flex;" class="div_filter ">
            <label class="labelstyle">Категория</label>
            @Html.DropDownList("ID_Type_mysic", null, htmlAttributes: new { @class = "cb" })

        </div>
        <input type="submit" style=" margin-bottom:15px;" name="Искать" value="Найти" class="cb btn btn-default btn_filter ">
    </div>
    <div>
        <label style="color: #a7a7a7; font-size: 14px; ">Сортировать по</label>
        <input type="submit" value="Алфавиту" name="Алфавиту" class="btn_sort btn_sort--margin">
        <input type="submit" value="Рейтингу" name="Рейтингу" class="btn_sort btn_sort--margin">
        <input type="submit" value="Цене" name="Цене" class="btn_sort btn_sort--margin">
    </div>
}
<div style="display:flex; flex-wrap: wrap; margin-left:50px; ">
    @if (Model.Count() == 0)
    {
        @("Ничего не найдено. Введите другое условие запроса");
    }
    else
    {
        foreach (var item in Model)
        {
            <div style="grid-template-rows: 70% 30%; margin: 2em;">

                <div style="position:relative;">

                    <a onmousedown="window.location.href = &quot;@("/Musics?musicId=" + item.ID_Music)&quot;">
                        <img id="previewImage"
                             class="imgactive"
                             style="width:150px; height:150px;"
                             src="data:image/jpeg;base64,@if (item.Image_music == null)
                        {
                             @(Convert.ToBase64String(File.ReadAllBytes(Server.MapPath("~/Resource/user.png"))))
                        }
                        else
                        {
                            @(Convert.ToBase64String(item.Image_music))
                        }
                        " />
                    </a>
                    @Html.ValidationMessageFor(modelItem => item.Image_music, "", new { @class = "text-danger" })
                </div>
                <div class="rndclss" style="background-color: lightgray; width: 150px; text-align:center;">
                    <div>
                        @Html.ActionLink(item.Name_music, "Details", new { id = item.ID_Music }, new { @class = "namesongforplayer" })
                    </div>
                    <div>
                        @Html.ActionLink(@"от " + item.User.Nickname_User, "", new { id = item.ID_Music }, new { @class = "nameartistforlayer" })
                    </div>
                    <div>
                        @Html.ActionLink(@"Жанр: " + item.Genere_Of_Music.Name_Gener_of_music, "", new { id = item.ID_Music }, new { @class = "nameagenereforsong" })
                    </div>
                    <div>
                        Цена: @if (!item.Price_Music.Any())
                        {
                            @("не указана")
                        }
                        else
                        {
                            @(item.Price_Music.Last().Price + " руб.")
                        }
                    </div>
                    @Html.ActionLink(@"Купить", "Create", "Order_Music", new { item.ID_Music }, new { @class = "u-black u-btn u-button-style" })

                </div>
            </div>
        }
    }
</div>
<section id="container-id" class="playerm" style="background:white !important" @(Request.QueryString["musicId"] != null ? "" : "hidden")>
    <div class="common-container">
        <div class="player__container">

            <div class="player__track-descr-box">

                <div class="track-descr">
                    <img class="track-descr__cover-img"
                         src="data:image/jpeg;base64,@if (Request.QueryString["musicId"] != null && Model.FirstOrDefault(m => m.ID_Music.ToString() == Request.QueryString["musicId"]) is Music music)
                        {
                             if(music.Image_music == null)
                             {
                                @(Convert.ToBase64String(File.ReadAllBytes(Server.MapPath("~/Resource/user.png"))))
                             }
                             else
                             {
                                @(Convert.ToBase64String(music.Image_music))
                             }
                        }"
                         alt="Обложка трека, играющего в музыкальном плеере" />

                    <div class="track-descr__content">

                        <a class="track-artist__name" href="/beatmaker/176887">@(Request.QueryString["musicId"] != null ? Model.First(m => m.ID_Music.ToString() == Request.QueryString["musicId"]).User.Login : "")</a>

                        <span style="font-size:14px"> — </span>
                        <a class="track-descr__name" href="/beatmaker/176887">@(Request.QueryString["musicId"] != null ? Model.First(m => m.ID_Music.ToString() == Request.QueryString["musicId"]).Name_music : "")</a>
                        <p class="track-descr__style">
                            Рок
                        </p>
                    </div>

                </div>
            </div>

            <div class="player__controls-box">
                <audio controls autoplay>
                    <source src="/Musics/LoadAudio?musicId=@(Request.QueryString["musicId"])" />
                    В вашем браузере не поддерживается проигрывание музыки.
                </audio>
            </div>


            <div class="player__tools-box">
                <div class="player__add-btn-box">

                    <button class="bg" tabindex="0">
                        <span class="text">
                            Купить
                        </span>
                        <span class="btn-icon icon-cart">

                        </span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>
